<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>TechSkills</title>
	<link rel="shortcut icon" href="~/img/icon.png" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
</head>

<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
		<!-- Container wrapper -->
		<div class="container">
			<!-- Navbar brand -->
			<a class="navbar-brand me-2" href="/">
				<img src="/img/logo.png"
					 height="30"
					 loading="lazy"
					 style="margin-top: -1px;" />
			</a>

			@if (User.Identity.IsAuthenticated)
			{
				<div class="collapse navbar-collapse" id="navbarButtonsExample">
					<!-- Left links -->
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					</ul>

					<!-- Left links -->
					<div class="d-flex align-items-center">
						<button data-mdb-ripple-init type="button" class="btn btn-link px-3 me-2">
							<a asp-action="Manage" asp-controller="User">@User.Identity.Name </a>
						</button>
						<button data-mdb-ripple-init type="button" class="btn btn-link px-3 me-2">
							<a asp-controller="User" asp-action="LogOut">Выйти</a>
						</button>
					</div>
				</div>
			}
			else
			{
				<!-- Collapsible wrapper -->
				<div class="collapse navbar-collapse" id="navbarButtonsExample">
					<!-- Left links -->
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					</ul>
					<!-- Left links -->

					<div class="d-flex align-items-center">
						<button data-mdb-ripple-init type="button" class="btn btn-link px-3 me-2">
							<a asp-controller="User" asp-action="Login">Войти</a>
						</button>
						<button data-mdb-ripple-init type="button" class="btn btn-link px-3 me-2">
							<a asp-controller="User" asp-action="Register">Зарегистрироваться</a>
						</button>
					</div>
				</div>
				<!-- Collapsible wrapper -->
			}
		</div>
		<!-- Container wrapper -->
	</nav>
	<!-- Navbar -->
	<div class="main">
		@RenderBody()
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>