<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - courses</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/courses.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/courses.css" asp-append-version="true" />
</head>
<body>
	<header class="">
		<div class="logo">
			<a href="/">
				<img src="~/img/logo.png" height="50" width="150" />
			</a>
		</div>
		<div class="menu me-auto">
			<ul>
				<li><a asp-controller="User" asp-action="Register">Зарегистрироваться</a></li>
				<li><a href="/">Войти</a></li>
			</ul>
		</div>
	</header>
	<div class="main">
		@RenderBody();
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>