<link rel="stylesheet" href="~/css/course.css" asp-append-version="true" />

<div class="course-title">
	<h2>@ViewBag.course.Title</h2>
</div>


<div class="modules-box">
	@foreach (var module in ViewBag.course.Modules)
	{
		<a href = @Url.RouteUrl(new { controller = "Module", action = "Index", id = module.Id})>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">@module.Title</h5>
				</div>
			</div>
		</a>
	}
</div>