header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.main {
    margin: 50px;
}

.menu {
    flex-grow: 1;
}

    .menu ul {
        display: flex;
        flex-flow: row nowrap;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .menu li {
        margin-right: 20px;
    }

        .menu li:last-child {
            margin-right: 0;
        }

    .menu a {
        padding: 8px 10px;
    }

.courses-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
}

/*.course-card {
    font-size: 12px;
    background-color: ghostwhite;
    border-radius: 30px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}*/

.card {
    border-radius: 30px;
    max-height: 300px;
    max-width: 300px;
    margin: 10px;
    padding: 10px;
}

.card-body {
    overflow: hidden;
}

.btn-grad {
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);
    margin: 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: ghostwhite;
    box-shadow: 0 0 20px #eee;
    border-radius: 30px;
    display: block;
}

    .btn-grad:hover {
        background-position: right center;
        color: #fff;
        text-decoration: none;
    }

.btn {
    max-height: 50px;
}
