a{
    color: black;
    text-decoration: none;
}

a:hover{
    color:black;
}

.btn-link {
    font-weight: 400;
    color: black;
    text-decoration: none;
}

.main{
    align-content: center;
}

.navbar{
    margin-bottom: 50px;
}