@model Lesson
@using Markdig;
@using Markdig.SyntaxHighlighting

<h1 class="w-50 text-left mx-auto">@Model.Title</h1>

<div class="w-50 mx-auto py-4">
	@{
		var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseSyntaxHighlighting().Build();
		@Html.Raw(Markdown.ToHtml(Model.Content, pipeline))
	}
</div>
